.collapse {
  margin-left: 50px;
  padding: 10px;
}

.fa-search {
  border: none;
}

.connect
{ font-weight: bold;
color: black;}

.connect:hover
{ font-weight: bold;
color: #fb5c42;}





.search-form {
  display: flex;
  align-items: center;
  margin-left: 160px;
  border: 5px;
}

.search-form input[type="text"] {
  width: 90%;
  max-width: auto;
  height: 40px;
  font-size: 16px;
  padding: 7px;
  margin-right: 0px;
  border: 1px;
  border-color: black;
  background-color:#f7f6f2;
}

.search-form button[type="submit"] {
  background-color: #fc6c55;
  color: white;
  height: 40px;
  font-size: 16px;
  padding: 0 20px;
  cursor: pointer;
  border: 1px;
  font-weight: bold;

}

.search-form button:hover {
  background: rgb(75, 73, 73);

}


.search-form input:active{
  border-color:  #fb5c42;
}


@media screen and (max-width: 768px) {
  .search-form {
    flex-direction: column;
    align-items: stretch;
  }

  .search-form input[type="text"] {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    max-width: none;
  }
}