.collapse {
  margin-left: 50px;
  padding: 10px;
}

.fa-search {
  border: none;
}

.connect
{ font-weight: bold;
color: black;}

.connect:hover
{ font-weight: bold;
color: #fb5c42;}


.mytitle{
  font-size: 25px;
  font-family: "Bahnschrift SemiBold" , "Brush Script MT" ;
  color: black;
}

.mytitle:hover{
  text-decoration: underline;
}