<nav
  class="navbar navbar-expand-lg navbar-light bg-white w-200 navigation"
  id="navbar"
>
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="#">GED</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main-navbar"
      aria-controls="main-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
        <li class="list-inline-item">
          <div class="input-group rounded">
            <input
              type="search"
              class="form-control rounded"
              placeholder="Rechercher dans GED"
              aria-label="Search"
              aria-describedby="search-addon"
            />
            <span class="input-group-text border-0" id="search-addon">
              <a routerLink="#" class="fa fa-search" aria-hidden="true"></a>
            </span>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown dropdown-slide">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown3"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Nouveaux
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
            <li>
              <a routerLink=""> Nouveaux dossier </a>
            </li>
            <li>
              <a routerLink=""> Importer un dossier</a>
            </li>
            <li><a routerLink="">Importer un fichier</a></li>
          </ul>
        </li>

        <!-- Pages -->
        <li class="nav-item dropdown dropdown-slide">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown4"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Pages
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <li><a href="#">à propos</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav m-auto">
        <li class="nav-item dropdown dropdown-slide">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown3"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Mon compte.
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
            <li><a routerLink="/profile-details">mon profile </a></li>
            <li>
              <a routerLink="/login">Se connecter </a>
            </li>
            <li>
              <a routerLink="/signup">Ajouter un compte </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/dashboard">Mes documents </a>
            </li>
            <li>
              <a>Se déconnecter</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
