<div class="account section">
    <div class="container">
      <div class="row justify-content-center">
            <div class="col-lg-10">
                    <div class="'aboutus">
                <p> 
                Bienvenue à notre application de gestion électronique de documents !   Notre objectif est de vous aider à gérer efficacement et en toute sécurité vos documents numériques, vous faisant gagner du temps et rationalisant votre flux de travail.
                </p>
                    <hr>
                <p>
                    Avec notre application, vous pouvez facilement télécharger, organiser et partager tous les types de documents numériques, y compris des documents Word, des PDF, des feuilles de calcul, des images et bien plus encore. Vous pouvez également définir des autorisations et des contrôles d'accès pour vous assurer que seuls les utilisateurs autorisés peuvent consulter ou modifier certains documents.
                </p>

                  <p>
                    Notre application est conçue pour être conviviale et personnalisable pour répondre à vos besoins spécifiques. Vous pouvez créer des catégories et des étiquettes de documents personnalisées pour vous aider à trouver rapidement les documents dont vous avez besoin, et vous pouvez configurer des flux de travail automatisés pour rationaliser des processus tels que l'approbation de documents et le contrôle de version.
                  </p>  
                  
                  <p>
                    En outre, notre application comprend des fonctionnalités de sécurité robustes pour protéger vos données sensibles. Tous les documents sont cryptés en transit et au repos, et vous pouvez configurer une authentification à deux facteurs pour une sécurité accrue.
                  </p>
                  <p>
                    Nous sommes engagés à fournir un support client de qualité supérieure, donc si vous avez des questions ou des problèmes,<a routerLink="/contact"> notre équipe de support</a> dédiée est là pour vous aider.
                  </p>
                  <p>
                    Merci d'avoir choisi notre application de gestion électronique de documents. Nous sommes convaincus qu'elle vous aidera à gérer vos documents numériques de manière plus efficace et plus sûre.
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>