
 <section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
        <div class="nav flex-column nav-pills">
          <a class="nav-link " routerLink="/admin">Dashboard</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link active" >Rechercher utilisateur</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="">Message</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="">Equipe</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" (click)="onLogout()">Se deconnecter</a>
        </div>
      </div>

      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <div class="tab-pane fade show active" id="settings" role="tabpanel">
          <div class="col-12 col-md-7 col-sm-12 col-lg-9">
            <div class="search-form" >
              <input #searchTerm (keyup)="onKeyUp(searchTerm.value)"  type="text" placeholder="Recherche..." class="form-control" [(ngModel)]="username" name="username">
              <button type="submit" (click)="rechercherParUser()" class="btn">Recherche</button>
            </div>
            <br>
            <div class="card" *ngFor=" let user of users">
              <img src="../../../assets/images/sska.jpg" alt="John" style="width:100%"><br>
                <h2>{{user.username}}</h2>
                <p class="title" >{{user.email}}</p>
                <p class="title" >{{user.roles}}</p>
                <p class="title"  class="fa fa-phone"> {{user.mobile}}</p><br>
              </div>
              
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
