

<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">

                <div class="alert alert-warning alert-dismissible fade show">
                  <strong class="fa fa-exclamation-circle">
                    Vous devez vous-connecter pour continuer.
                  </strong>
                </div>
              
                <div class="action">
                  <button type="submit" class="btn btn-submit" routerLink="/login">
                   Se connecter
                  </button>
                </div>
          

          
        </div>
      </div>
    </div>
  </div>
