<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
        <div class="nav flex-column nav-pills">
          <a class="nav-link active" routerLink="/amdin">Dashboard</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link " routerLink="/recherche">Rechercher utilisateur</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="">Message</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="">Equipe</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" (click)="onLogout()">Se deconnecter</a>
        </div>
      </div>

      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <div class="tab-pane fade show active" id="settings" role="tabpanel">
          <div class="acccount-settings">
            <h4 class="mb-4">Liste d'utilisateurs</h4>
            <div class="alert alert-success alert-dismissible fade show" *ngIf="deleted">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              Le compte a été supprimé avec succès.            
            </div>

            <div class="table-data">
              <div class="order">
                <div class="head">
                  
                </div>
                <table>
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Email</th>
                      <th>roles</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let user of users">
                    <tr>
                      <td>{{user.username}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.roles}}</td>
                      <td>
                        <div class="action1">
                          <a type="submit" class="btn" (click)="supprimerUser(user)">Supprimer</a>
                          <a type="submit" class="btn">Modifier</a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
