.field {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.field input {
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  padding: 10px;
  background-color: white;
  border: none;
  border: solid 0.5px;
  border-color: #e6e2e2;
}

.field input:active {
  border-color: #fb5c42;
}

.field input:hover {
  border-color: #fb5c42;
}

.field span {
  color: gray;
  width: 50px;
  line-height: 45px;
  text-align: center;
}
.field input::placeholder {
  color: gray;
}

input:focus,
input:active input:hover {
  outline: none;
}

.action .btn {
  width: 100%;
  padding: 11px;
  font-size: 20px;
  border: 0px;
  background-color: #fb5c42;
  margin-top: 10px;
}

.action .btn-submit {
  background-color: #fb5c42;
  color: white;
  cursor: pointer;
}

.action .btn-submit:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.5s all ease;
}

.action .btn-google {
  background-color: #4285f4;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 15px;
}

.action .btn-google:hover {
 box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 25%);
 background-color: #478bf8;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.alert {
  border-radius: 0px;
  background-color: #faf7f7;
  color: #f8492e;
  border-color: #ff0707;
}

strong {
  margin-left: 91px;
}

.container {
  margin-top: -40px;
}


.toggle-password {
  cursor: pointer;
  display: inline-block;
  border: none;
  font-weight: 20px;
}

