<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <span class="icon">
            <i class='fas fa-user-circle' style='font-size:90px'></i>
            <h1 class="mb-3"> Modifier votre Profile</h1>
          </span>

          <ol class="breadcrumb bg-transparent justify-content-center">
            <li class="breadcrumb-item"><a routerLink="/docs">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">profile
            
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-sm-12 col-lg-3">
        <div class="nav flex-column nav-pills">
          <a class="nav-link active" routerLink="/profile-details"
            >Modifier profile </a
          >
        </div>

        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/profile">Mon profile</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/docs">Mes documents</a>
        </div>

       
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/contact">contact</a>
        </div>
       
        <div class="nav flex-column nav-pills">
          <a href="/login" class="nav-link"(click)="onLogout()">Se déconnecter</a>
        </div>
      </div>

    
      <div class="col-12 col-md-7 col-sm-12 col-lg-9">
        <div class="tab-pane fade show active" id="settings" role="tabpanel">
          <div class="acccount-settings" >
            <h4 class="mb-4">Informations sur le compte</h4>



            <div class="alert alert-success alert-dismissible fade show" *ngIf="updateSuccess" [class.show]="updateSuccess" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              Vos informations ont été mises à jour avec succès !  </div>

            <form action="#">

              <div class="form-group mb-4">
                <label>Email</label>
                <input
                [readonly]="true"
                  type="text"
                  class="form-control"
                  value={{curentUser.email}}
                  name="email"
                  [(ngModel)]="curentUser.email"

                />
              </div>

              <div class="form-group mb-4" >
                <label>Username</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  value={{this.username}}
                  [(ngModel)]="username"

                /> 
              </div>

              <div class="form-group mb-4">
                <label>Mobile</label>
                <input
                  type="text"
                  class="form-control"
                  name="mobile"
                  value={{mobile}}
                  [(ngModel)]="this.mobile"
                />
              </div>
            </form>

            <form action="#" class="mt-5">
              <h4>Changement de mot de passe</h4>

              <div class="form-group">
                <label>Nouveaux mot de passe</label>
                <input type="text" 
                class="form-control" 
                name="password"
                value={{this.password}}
                [(ngModel)]="this.password"

                 />
              </div>

            

              <button type="submit" class="btn btn-success" (click)="updateUserData()">Sauvegarder les changements</button><br />
             </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

