<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">

          <div
            class="alert alert-warning alert-dismissible fade show"
            *ngIf="err==1"
          >
            <strong>Désolé, cette adresse e-mail est déjà utilisée.</strong>
          </div>
          
          <div class="text-center heading">
            <h1 class="mb-2">Inscription</h1>
            <p class="lead">
              Vous avez déjà un compte? <a routerLink="/login"> Se connecter</a>
            </p>
          </div>

          <div class="tab-pane fade show active" id="settings" role="tabpanel">
            <div class="acccount-settings">
              

              <div class="field">
                <span class="fa fa-envelope"> </span>
                <input
                  type="text"
                  placeholder="Email"
                  name="email" 
                  [(ngModel)]="newUser.email"

                />
              </div>

              <div class="field">
                <span class="fa fa-user"> </span>
                <input
                  type="text"
                  placeholder="Username"
                  name="username" 
                  [(ngModel)]="newUser.username"

                />
              </div>

              <div class="field">
                <span class="fa fa-lock"> </span>
                
              <input type="{{ hidePassword ? 'password' : 'text' }}" 
              class="form-control" id="password"
               placeholder="Mot de passe" 
               [(ngModel)]="newUser.password">
               <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-fw fa-eye toggle-password" (click)="togglePassword()"></i>
                </span>
              </div>
              </div>

             

              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  J'accepte la Conditions Générales d'Utilisation.
                </label>
              </div>

              <div class="action">
                <button type="submit" class="btn btn-submit"  (click)="userCreate()" >Confirmer</button>
                <button class="btn btn-google">
                  <span class="icon">
                    <img src="../../../assets/images/google.jpg" /> Continuer
                    avec Google
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
