.field {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
}

.field span {
  color: gray;
  width: 50px;
  line-height: 45px;
  text-align: center;
}

.field input {
  width: 100%;
  height: 50px;
  font-size: 1.1rem;
  padding: 10px;
  background-color: white;
  border: solid 0.5px;
  border-color: #e6e2e2;
}

.field input::placeholder {
  color: gray;
}
input:focus,
input:active input:hover {
  outline: none;
}

.action .btn {
  width: 100%;
  padding: 11px;
  font-size: 20px;
  border: 0px;
  background-color: #fb5c42;
  font-weight: bold;
  margin-top: 10px;
}

.action .btn-submit {
  background-color: #fb5c42;
  color: white;
  cursor: pointer;
}

.action .btn-submit:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.5s all ease;
}

.action .btn-google {
  background-color: #faf1f1;

  color: #fb5c42;
  cursor: pointer;
  margin-bottom: 15px;
}
.action .btn-google:hover {
  color: #000000;
  background-color: #e6e2e2;
  transition: 0.5s all ease;
}

.action .btn-google .icon {
  display: inline-block;
  vertical-align: middle;
}

.action .btn-google .icon img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

.field input:active {
  border-color: #fb5c42;
}

.field input:hover {
  border-color: #fb5c42;
}

.container {
  margin-top: -40px;
}
