.card {
  box-shadow: 0 4px 6px 0 rgba(22, 22, 22, 0.2);
  max-width: 430px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  display: inline-block;
  padding: 12px;
  color: white;
  background-color: #fb5c42;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: bold;

}

button:hover {

  color: rgb(0, 0, 0);
  
}