

    <div class="card">
      <div class="container" *ngIf="user">
        <img alt="image" >
      
        <p class="title">CEO & Founder</p>
            <h2>Skandar Sabri</h2>
        <p class="title" >sabriskandar3@gmail.com</p>
        <p class="title"  class="fa fa-phone"> 23787064</p>
        <div style="margin: 10px 0;">
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
  
        </div>
        <p><button  routerLink="/profile-details"  >Modifier mon Profil</button></p>
      </div>
    </div>
    
