<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-10 col-md-5 col-sm-10 col-lg-3">
        <div class="nav flex-column nav-pills">
          <a class="nav-link active" routerLink="/profile-details"
            >Mon profile</a
          >
        </div>
        
       
        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/docs">Mes documents</a>
        </div>

        <div class="nav flex-column nav-pills">
          <a class="nav-link" routerLink="/contact">contact</a>
        </div>
        <div class="nav flex-column nav-pills">
          <a href="/login" class="nav-link">Se déconnecter</a>
        </div>
      </div>

      <div class="card">
        <img src="../../../assets/images/sska.jpg" alt="John" style="width:100%"><br>
        <h4>{{username}}</h4>
        <p class="title">{{curentUser.email}}</p>
        <p>{{mobile}}</p>
       
        <div>
          <p><button  [routerLink]="['/profile-details',email]" >Modifier mon Profil</button></p>
        </div>
      </div>  
              
             
      </div>
  </div>
</section>












