<div class="account section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="login-form border p-5">
          <div class="text-center heading">
            <h3 class="mb-2 h2">Récupération de mot de passe</h3>
            <p class="lead">
              S'il vous plait entrez l'adresse email pour votre compte. Un code
              de vérification vous sera envoyé. Une fois que vous aurez reçu le
              code de vérification, vous pourrez choisir un nouveau mot de passe
              pour votre compte.
            </p>
          </div>

          <form action="#">
            <div class="form-group mb-4">
              <input type="text" class="form-control" placeholder="Email " />
            </div>
            <a href="#" class="btn btn-main mt-3 btn-block">Envoyer</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
